<section class="featured-category">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Featured Categories</h2>
        <p class="sub-title wow fadeInUp" data-wow-delay="0.5s"><span>37</span> jobs live - <span>10</span> added today.
        </p>
        <div class="row wow fadeInUp" data-wow-delay=".5s">
            <div class="col-lg-3 col-md-6 category BdrRB">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 79 134"
                    style="enable-background:new 0 0 79 134;" xml:space="preserve">
                    <circle id="Oval_Copy_2" class="st0" cx="33.5" cy="77.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate"
                            values="-10 50;-10 -50;" dur="3s" repeatCount="indefinite" />
                    </circle>
                    <linearGradient id="Path_6_1_" gradientUnits="userSpaceOnUse" x1="490.5" y1="-232.4724" x2="490.5"
                        y2="-281.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_6" class="st1" d="M13.3,128.5h22.1l11.1-49h-45L13.3,128.5z" />
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="49.5" y1="1.5" x2="49.5"
                        y2="132.5">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path class="st2" d="M69.9,120.5H51.5V4c0-1.4-1.1-2.5-2.5-2.5S46.5,2.6,46.5,4v116.5H27.7c-4.9,0-6.2,12-6.2,12h56C77.5,132.5,77.5,120.5,69.9,120.5z" />
                    <linearGradient id="Path_7_1_" gradientUnits="userSpaceOnUse" x1="475.5" y1="-233.4724" x2="475.5"
                        y2="-265.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_7" class="st3" d="M1.5,80.5h15v18.2L3.4,112.5L1.5,80.5z" />
                    <circle id="Oval" class="st0" cx="5.5" cy="69.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate"
                            values="0 0;-10 -50;" dur="5s" repeatCount="indefinite" />
                    </circle>
                    <circle id="Oval_Copy" class="st0" cx="21.5" cy="57.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate"
                            values="0 0;-10 -50;" dur="4s" repeatCount="indefinite" />
                    </circle>
                    <linearGradient id="Path_8_1_" gradientUnits="userSpaceOnUse" x1="509" y1="-240.4724" x2="509"
                        y2="-258.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="0.7821" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_8" class="st4"
                        d="M28.5,87.5c5.7,1,11.2,2.9,16.4,5.5c7.7,4,11.6,6.8,11.6,9.3s-14.2,3.3-14.2,3.3" />
                    <path class="st5" d="M27.9,122.2h42.2c0,0,4.6,2.2,5.2,8.7H24C24,130.9,23.9,125.5,27.9,122.2z" />
                </svg>
                <span class="category-name">Business & Admin</span>
            </div>
            <div class="col-lg-3 col-md-6 category BdrRB gear">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 645 526">
                    <defs></defs>
                    <g>
                        <path x="-136,996" y="-136,996" class="medium"
                            d="M392 390v-21l-28-4c-1-10-4-19-7-28l23-17 -11-18L342 313c-6-8-13-14-20-20l11-26 -18-11 -17 23c-9-4-18-6-28-7l-4-28h-21l-4 28c-10 1-19 4-28 7l-17-23 -18 11 11 26c-8 6-14 13-20 20l-26-11 -11 18 23 17c-4 9-6 18-7 28l-28 4v21l28 4c1 10 4 19 7 28l-23 17 11 18 26-11c6 8 13 14 20 20l-11 26 18 11 17-23c9 4 18 6 28 7l4 28h21l4-28c10-1 19-4 28-7l17 23 18-11 -11-26c8-6 14-13 20-20l26 11 11-18 -23-17c4-9 6-18 7-28L392 390zM255 453c-41 0-74-33-74-74 0-41 33-74 74-74 41 0 74 33 74 74C328 420 295 453 255 453z">
                        </path>
                    </g>
                    <g>
                        <path x="-173,694" y="-173,694" class="small"
                            d="M200 236v-21l-29-4c-2-10-6-18-11-26l18-23 -15-15 -23 18c-8-5-17-9-26-11l-4-29H90l-4 29c-10 2-18 6-26 11l-23-18 -15 15 18 23c-5 8-9 17-11 26L0 215v21l29 4c2 10 6 18 11 26l-18 23 15 15 23-18c8 5 17 9 26 11l4 29h21l4-29c10-2 18-6 26-11l23 18 15-15 -18-23c5-8 9-17 11-26L200 236zM100 262c-20 0-37-17-37-37s17-37 37-37c20 0 37 17 37 37S121 262 100 262z">
                        </path>
                    </g>
                </svg>
                <span class="category-name">Cleaning</span>
            </div>
            <div class="col-lg-3 col-md-6 category BdrRB">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 79 134"
                    style="enable-background:new 0 0 79 134;" xml:space="preserve">

                    <circle id="Oval_Copy_2" class="st0" cx="33.5" cy="77.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate"
                            values="-10 50;-10 -50;" dur="3s" repeatCount="indefinite" />
                    </circle>
                    <linearGradient id="Path_6_1_" gradientUnits="userSpaceOnUse" x1="490.5" y1="-232.4724" x2="490.5"
                        y2="-281.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_6" class="st1" d="M13.3,128.5h22.1l11.1-49h-45L13.3,128.5z" />
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="49.5" y1="1.5" x2="49.5"
                        y2="132.5">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path class="st2" d="M69.9,120.5H51.5V4c0-1.4-1.1-2.5-2.5-2.5S46.5,2.6,46.5,4v116.5H27.7c-4.9,0-6.2,12-6.2,12h56C77.5,132.5,77.5,120.5,69.9,120.5z" />
                    <linearGradient id="Path_7_1_" gradientUnits="userSpaceOnUse" x1="475.5" y1="-233.4724" x2="475.5"
                        y2="-265.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_7" class="st3" d="M1.5,80.5h15v18.2L3.4,112.5L1.5,80.5z" />
                    <circle id="Oval" class="st0" cx="5.5" cy="69.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate"
                            values="0 0;-10 -50;" dur="5s" repeatCount="indefinite" />
                    </circle>
                    <circle id="Oval_Copy" class="st0" cx="21.5" cy="57.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate"
                            values="0 0;-10 -50;" dur="4s" repeatCount="indefinite" />
                    </circle>
                    <linearGradient id="Path_8_1_" gradientUnits="userSpaceOnUse" x1="509" y1="-240.4724" x2="509"
                        y2="-258.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="0.7821" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_8" class="st4"
                        d="M28.5,87.5c5.7,1,11.2,2.9,16.4,5.5c7.7,4,11.6,6.8,11.6,9.3s-14.2,3.3-14.2,3.3" />
                    <path class="st5" d="M27.9,122.2h42.2c0,0,4.6,2.2,5.2,8.7H24C24,130.9,23.9,125.5,27.9,122.2z" />
                </svg>
                <span class="category-name">Delivery & removals</span>
            </div>
            <div class="col-lg-3 col-md-6 category BdrB gear">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 645 526">
                    <defs />
                    <g>
                        <path x="-136,996" y="-136,996" class="medium"
                            d="M392 390v-21l-28-4c-1-10-4-19-7-28l23-17 -11-18L342 313c-6-8-13-14-20-20l11-26 -18-11 -17 23c-9-4-18-6-28-7l-4-28h-21l-4 28c-10 1-19 4-28 7l-17-23 -18 11 11 26c-8 6-14 13-20 20l-26-11 -11 18 23 17c-4 9-6 18-7 28l-28 4v21l28 4c1 10 4 19 7 28l-23 17 11 18 26-11c6 8 13 14 20 20l-11 26 18 11 17-23c9 4 18 6 28 7l4 28h21l4-28c10-1 19-4 28-7l17 23 18-11 -11-26c8-6 14-13 20-20l26 11 11-18 -23-17c4-9 6-18 7-28L392 390zM255 453c-41 0-74-33-74-74 0-41 33-74 74-74 41 0 74 33 74 74C328 420 295 453 255 453z" />
                    </g>
                    <g>
                        <path x="-173,694" y="-173,694" class="small"
                            d="M200 236v-21l-29-4c-2-10-6-18-11-26l18-23 -15-15 -23 18c-8-5-17-9-26-11l-4-29H90l-4 29c-10 2-18 6-26 11l-23-18 -15 15 18 23c-5 8-9 17-11 26L0 215v21l29 4c2 10 6 18 11 26l-18 23 15 15 23-18c8 5 17 9 26 11l4 29h21l4-29c10-2 18-6 26-11l23 18 15-15 -18-23c5-8 9-17 11-26L200 236zM100 262c-20 0-37-17-37-37s17-37 37-37c20 0 37 17 37 37S121 262 100 262z" />
                    </g>
                </svg>
                <span class="category-name">Furniture Assembly</span>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="1s">
            <div class="col-lg-3 col-md-6 category BdrR gear">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 645 526">
                    <defs />
                    <g>
                        <path x="-136,996" y="-136,996" class="medium"
                            d="M392 390v-21l-28-4c-1-10-4-19-7-28l23-17 -11-18L342 313c-6-8-13-14-20-20l11-26 -18-11 -17 23c-9-4-18-6-28-7l-4-28h-21l-4 28c-10 1-19 4-28 7l-17-23 -18 11 11 26c-8 6-14 13-20 20l-26-11 -11 18 23 17c-4 9-6 18-7 28l-28 4v21l28 4c1 10 4 19 7 28l-23 17 11 18 26-11c6 8 13 14 20 20l-11 26 18 11 17-23c9 4 18 6 28 7l4 28h21l4-28c10-1 19-4 28-7l17 23 18-11 -11-26c8-6 14-13 20-20l26 11 11-18 -23-17c4-9 6-18 7-28L392 390zM255 453c-41 0-74-33-74-74 0-41 33-74 74-74 41 0 74 33 74 74C328 420 295 453 255 453z" />
                    </g>
                    <g>
                        <path x="-173,694" y="-173,694" class="small"
                            d="M200 236v-21l-29-4c-2-10-6-18-11-26l18-23 -15-15 -23 18c-8-5-17-9-26-11l-4-29H90l-4 29c-10 2-18 6-26 11l-23-18 -15 15 18 23c-5 8-9 17-11 26L0 215v21l29 4c2 10 6 18 11 26l-18 23 15 15 23-18c8 5 17 9 26 11l4 29h21l4-29c10-2 18-6 26-11l23 18 15-15 -18-23c5-8 9-17 11-26L200 236zM100 262c-20 0-37-17-37-37s17-37 37-37c20 0 37 17 37 37S121 262 100 262z" />
                    </g>
                </svg>
                <span class="category-name">Handyman</span>
            </div>
            <div class="col-lg-3 col-md-6 category BdrR">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 79 134"
                    style="enable-background:new 0 0 79 134;" xml:space="preserve">
                    <circle id="Oval_Copy_2" class="st0" cx="33.5" cy="77.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate"
                            values="-10 50;-10 -50;" dur="3s" repeatCount="indefinite" />
                    </circle>
                    <linearGradient id="Path_6_1_" gradientUnits="userSpaceOnUse" x1="490.5" y1="-232.4724" x2="490.5"
                        y2="-281.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_6" class="st1" d="M13.3,128.5h22.1l11.1-49h-45L13.3,128.5z" />
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="49.5" y1="1.5" x2="49.5"
                        y2="132.5">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path class="st2" d="M69.9,120.5H51.5V4c0-1.4-1.1-2.5-2.5-2.5S46.5,2.6,46.5,4v116.5H27.7c-4.9,0-6.2,12-6.2,12h56C77.5,132.5,77.5,120.5,69.9,120.5z" />
                    <linearGradient id="Path_7_1_" gradientUnits="userSpaceOnUse" x1="475.5" y1="-233.4724" x2="475.5"
                        y2="-265.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_7" class="st3" d="M1.5,80.5h15v18.2L3.4,112.5L1.5,80.5z" />
                    <circle id="Oval" class="st0" cx="5.5" cy="69.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate"
                            values="0 0;-10 -50;" dur="5s" repeatCount="indefinite" />
                    </circle>
                    <circle id="Oval_Copy" class="st0" cx="21.5" cy="57.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate"
                            values="0 0;-10 -50;" dur="4s" repeatCount="indefinite" />
                    </circle>
                    <linearGradient id="Path_8_1_" gradientUnits="userSpaceOnUse" x1="509" y1="-240.4724" x2="509"
                        y2="-258.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="0.7821" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_8" class="st4"
                        d="M28.5,87.5c5.7,1,11.2,2.9,16.4,5.5c7.7,4,11.6,6.8,11.6,9.3s-14.2,3.3-14.2,3.3" />
                    <path class="st5" d="M27.9,122.2h42.2c0,0,4.6,2.2,5.2,8.7H24C24,130.9,23.9,125.5,27.9,122.2z" />
                </svg>
                <span class="category-name">Marketing & Design</span>
            </div>
            <div class="col-lg-3 col-md-6 category BdrR gear">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 645 526">
                    <defs />
                    <g>
                        <path x="-136,996" y="-136,996" class="medium"
                            d="M392 390v-21l-28-4c-1-10-4-19-7-28l23-17 -11-18L342 313c-6-8-13-14-20-20l11-26 -18-11 -17 23c-9-4-18-6-28-7l-4-28h-21l-4 28c-10 1-19 4-28 7l-17-23 -18 11 11 26c-8 6-14 13-20 20l-26-11 -11 18 23 17c-4 9-6 18-7 28l-28 4v21l28 4c1 10 4 19 7 28l-23 17 11 18 26-11c6 8 13 14 20 20l-11 26 18 11 17-23c9 4 18 6 28 7l4 28h21l4-28c10-1 19-4 28-7l17 23 18-11 -11-26c8-6 14-13 20-20l26 11 11-18 -23-17c4-9 6-18 7-28L392 390zM255 453c-41 0-74-33-74-74 0-41 33-74 74-74 41 0 74 33 74 74C328 420 295 453 255 453z" />
                    </g>
                    <g>
                        <path x="-173,694" y="-173,694" class="small"
                            d="M200 236v-21l-29-4c-2-10-6-18-11-26l18-23 -15-15 -23 18c-8-5-17-9-26-11l-4-29H90l-4 29c-10 2-18 6-26 11l-23-18 -15 15 18 23c-5 8-9 17-11 26L0 215v21l29 4c2 10 6 18 11 26l-18 23 15 15 23-18c8 5 17 9 26 11l4 29h21l4-29c10-2 18-6 26-11l23 18 15-15 -18-23c5-8 9-17 11-26L200 236zM100 262c-20 0-37-17-37-37s17-37 37-37c20 0 37 17 37 37S121 262 100 262z" />
                    </g>
                </svg>
                <span class="category-name">Home & Gardening</span>
            </div>
            <div class="col-lg-3 col-md-6 category">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 79 134" style="enable-background:new 0 0 79 134;" xml:space="preserve">

                    <circle id="Oval_Copy_2" class="st0" cx="33.5" cy="77.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate" values="-10 50;-10 -50;" dur="3s" repeatCount="indefinite" />
                    </circle>
                    <linearGradient id="Path_6_1_" gradientUnits="userSpaceOnUse" x1="490.5" y1="-232.4724" x2="490.5" y2="-281.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_6" class="st1" d="M13.3,128.5h22.1l11.1-49h-45L13.3,128.5z" />
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="49.5" y1="1.5" x2="49.5" y2="132.5">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path class="st2" d="M69.9,120.5H51.5V4c0-1.4-1.1-2.5-2.5-2.5S46.5,2.6,46.5,4v116.5H27.7c-4.9,0-6.2,12-6.2,12h56
C77.5,132.5,77.5,120.5,69.9,120.5z" />
                    <linearGradient id="Path_7_1_" gradientUnits="userSpaceOnUse" x1="475.5" y1="-233.4724" x2="475.5" y2="-265.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="1" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_7" class="st3" d="M1.5,80.5h15v18.2L3.4,112.5L1.5,80.5z" />
                    <circle id="Oval" class="st0" cx="5.5" cy="69.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate" values="0 0;-10 -50;" dur="5s" repeatCount="indefinite" />
                    </circle>
                    <circle id="Oval_Copy" class="st0" cx="21.5" cy="57.5" r="4">
                        <animateTransform attributeName="transform" attributeType="XML" type="translate" values="0 0;-10 -50;" dur="4s" repeatCount="indefinite" />
                    </circle>
                    <linearGradient id="Path_8_1_" gradientUnits="userSpaceOnUse" x1="509" y1="-240.4724" x2="509" y2="-258.4724" gradientTransform="matrix(1 0 0 -1 -466.5 -152.9724)">
                        <stop offset="0" style="stop-color:#E0245A" />
                        <stop offset="0.7821" style="stop-color:#B20838" />
                    </linearGradient>
                    <path id="Path_8" class="st4" d="M28.5,87.5c5.7,1,11.2,2.9,16.4,5.5c7.7,4,11.6,6.8,11.6,9.3s-14.2,3.3-14.2,3.3" />
                    <path class="st5" d="M27.9,122.2h42.2c0,0,4.6,2.2,5.2,8.7H24C24,130.9,23.9,125.5,27.9,122.2z" />
                </svg>
                <span class="category-name">Construction</span>
            </div>
        </div>
        <div class="text-center padd-80" style="padding-top: 80px;">
            <a href="#" class="button-primary">Browse All Categories</a>
        </div>
    </div>
</section>