@import '../variables/all';


.button-primary {
    color: $white-color !important;
    padding: 6px 50px;
    position: relative;
    border: 1px solid rgba(224, 36, 90, 0.11);
    border-bottom: 4px solid $primary-hover-color;
    border-radius: 30px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: $theme-color;
    transition: all .7s ease .02s;
    font-size: 20px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease; }
    .button-primary:hover, .button-primary:active, .button-primary:focus {
      background-color: $primary-hover-color;
      border: 1px solid $primary-hover-color;
      border-color: $primary-hover-color;
      border-bottom: 4px solid $primary-hover-color;
      box-shadow: none;
      text-decoration: none;
      padding: 6px 60px;
      -webkit-transition: all .35s ease;
      transition: all .35s ease; }
  
  .button-Secondary {
    color: $white-color !important;
    padding: 6px 50px;
    position: relative;
    border: 1px solid $secondary-color;
    border-bottom: 4px solid $secondary-hover-color;
    border-radius: 30px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    background-color: $secondary-color;
    transition: all .7s ease .02s;
    font-size: 20px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease; }
    .button-Secondary:hover, .button-Secondary:active, .button-Secondary:focus {
      text-decoration: none;
      background-color: $secondary-hover-color;
      border: 1px solid $secondary-hover-color;
      border-color: $secondary-hover-color;
      border-bottom: 4px solid $secondary-hover-color;
      box-shadow: none;
      padding: 6px 60px;
      -webkit-transition: all .35s ease;
      transition: all .35s ease; }
  
